[submodule "astro"]
	path = astro
	url = https://github.com/joselinev21/astro.git
[submodule "django"]
	path = django
	url = https://github.com/joselinev21/django.git
[submodule "next"]
	path = next
	url = https://github.com/joselinev21/next.git
[submodule "angular"]
	path = angular
	url = https://github.com/joselinev21/angular.git
