<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <!-- agregamos la ruta para la edición -->
    <h1>Productos</h1>
    <form action="/crear" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" placeholder="nombre" required>
    
        <label for="precio">Precio:</label>
        <input type="number" name="precio" placeholder="precio" required>
        <button type="submit">Guardar</button>
    </form>
    <!-- nos permite introducir secuencias de control -->
    {% for producto in productos %}
        <li>{{ producto['nombre'] }}: ${{producto['precio'] }}
        <a href="/editar/{{ producto['id'] }}">Editar</a>
        <a href="/eliminar/{{ producto['id'] }}" onclick="return confirm('¿Seguro que deseas eliminar?')">Eliminar</a>
        </li>
        {% endfor %}
</body>
</html>